.expert-container {
    width: 100%;
    /* height: 100%; */
    padding: 30px 0px;

    background-color: #f8fafe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 50px;
    /* penting */

}

.expert-desc {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expert-desc h1 {
    margin: 0px;
}

.line {
    width: 10%;
    background-color: var(--color-primary-dark);
    border-radius: 8px;
    border: 2px solid var(--color-primary-dark);
    box-shadow: var(--shadow-lg);
}

.expert-desc p {
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.expert-box {
    /* border: 1px solid blue; */
    width: 80%;
    height: 70%;

    margin: auto;
    padding-top: 15px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


/* CARD */
.skill-card {
    background: var(--color-white);
    padding: var(--space-lg);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--color-border);
    cursor: pointer;

    opacity: 0;
    transform: translateY(40px);
    filter: blur(6px);
    transition: all 0.6s ease;
}

.skill-card.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.skill-card.show:nth-child(1) {
    transition-delay: 0.1s;
}

.skill-card.show:nth-child(2) {
    transition-delay: 0.2s;
}

.skill-card.show:nth-child(3) {
    transition-delay: 0.3s;
}

.skill-card.show:nth-child(4) {
    transition-delay: 0.4s;
}

.skill-card.show:nth-child(5) {
    transition-delay: 0.5s;
}

.skill-card.show:nth-child(6) {
    transition-delay: 0.6s;
}

.skill-card.show:nth-child(7) {
    transition-delay: 0.7s;
}

.skill-card:hover {
    /* transform: translateY(-8px); */
    border: 1px solid var(--color-primary-hover);
    color: white !important;
    box-shadow: var(--shadow-primary);
    background-image: linear-gradient(to right bottom, #1e6bb6, #0e74ba, #007dbe, #0086c1, #088ec3);
}

/* ICON */
.skill-icon {
    width: 35px;
    height: 35px;
    font-size: 28px;
    background: var(--color-primary-soft);
    color: var(--color-primary);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-md);
}

/* TEXT */
.skill-card h3 {
    font-size: 20px;
    margin-bottom: 6px;
    font-family: var(--font-heading);
    text-align: left;
}

.skill-card h4 {
    font-size: 14px;
    color: var(--color-primary);
    margin-bottom: var(--space-sm);
    font-weight: 500;
    text-align: left;
}

.skill-card p {
    font-size: 14px;
    color: var(--color-text);
    line-height: 1.6;
    text-align: left;
}

@media (max-width: 992px) {
    .expert-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .expert-box {
        grid-template-columns: 1fr;
    }
}

@media (max-width:480px) {
    .expert-desc p {
        width: 100%;
    }
}

@keyframes fadeUpCard {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blurUp {
    from {
        opacity: 0;
        transform: translateY(40px);
        filter: blur(6px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}