.service-highlight {
    padding: 50px 10%;
    height: 100%;
    /* background: ; */
    color: var(--color-dark);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* TEXT */
.text-content {
    flex: 1;
}

.text-content h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.text-content p {
    color: var(--color-text);
    margin-bottom: 10px;
    line-height: 1;
}


/* IMAGE */
.image-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image-wrapper img {
    width: 30%;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: 0.3s;
}

.image-wrapper img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* MODAL BACKDROP */
.preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
    animation: fadeIn 0.3s ease;
}

/* IMAGE PREVIEW */
.preview-img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 12px;
    animation: zoomIn 0.3s ease;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    margin-top: 5px;
    padding: 12px 25px;
    background: none;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    gap: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background: var(--color-primary-dark);
    color: white;
}


/* OVERLAY */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;

    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.75),
            transparent);
}

.overlay h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.overlay p {
    font-size: 0.9rem;
    color: #e2e8f0;
}

/* HOVER */
.image-card:hover img {
    transform: scale(1.05);
}

/* =======================
RESPONSIVE MEDIA QUERY
======================= */
@media (max-width: 1280px) {}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .image-wrapper {
        flex-direction: column;
    }

    .image-wrapper img {
        width: 70%;
    }
}

@media (max-width: 640px) {}

@media (max-width: 480px) {}